<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Timesheet Entry</title>
</head>
<body>
    <h1>Add Timesheet Entry</h1>
    <form action="{{ url_for('views.add_timesheet') }}" method="POST">
        <label for="TaxpayerInfo_id">TaxpayerInfo_id :</label><br>
        <input type="number" id="TaxpayerInfo_id" name="TaxpayerInfo_id"><br>
        <label for="time_entry_date">Time Entry Date:</label><br>
        <input type="date" id="time_entry_date" name="time_entry_date" required><br>
        
        <label for="time_entry_code">Time Entry Code:</label><br>
        <select id="time_entry_code" name="time_entry_code" required>
            <option value="WND">Weekend</option>
            <option value="VAC">Vacation</option>
            <option value="ILL">Sick Day</option>
        </select><br>
        <label for="time_entry_other_desc">Other Description:</label><br>
        <input type="text" id="time_entry_other_desc" name="time_entry_other_desc"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>