{% extends "base.html" %} {% block title %}Wilmington DE Tax Refund (Form WCWT-5){% endblock %} {% block content
%}
<div class="text" align="center">
<h2>Wilmington DE City Wage Tax Refund Application</h2>
<h3>WCWT-5 Form preparation Tool</h3>
</div>
<div class="text" align="left">
<br>
<p>
Welcome ! This is a simple webtool to fill out an application for Refund of city wage taxes withheld for the city of Wilmington, DE
</p>
<p>
More information can be found on the city's website at  <a href="https://www.wilmingtonde.gov/residents/earned-income-tax-and-net-profits-tax" target="_blank">City Wage and Net ProFit taxes</a> 
</p>
<p>
This tool will walk you through entering the required inforamtion in a simple,intutive way and generate the WCWT-5 form that needs to be filed fo the tax refund.
You will need the W2 from your wilmington city based employer(s), details on the days worked from home, vacation, sick leave and other pertinent details handy to fill out the information
</p>
<p align="center">
Please click the button listed below to  get started when ready.
</p>
</div>
<br>

<form method="POST">
    <div class="row">
        <div class="col">
            <button id="newWcwt5" name="newWcwt5" type="submit" class="btn btn-primary">Start a New Form</button>
        </div>
        <div class="col">
            <button id="exsWcwt5" name="exsWcwt5" type="submit" class="btn btn-success">Review an Exisitng WCWT5</button>
        </div>
    </div>
</form>
{% endblock %}
