{% extends "base.html" %} {% block title %}Wilmington DE Tax Refund (Form WCWT-5){% endblock %} {% block content
%}
<div class="text">
<br>
<p align="left">
Welcome ! This is a simple webtool to fill out an application for Refund of city wage tax withheld for the city of Wilmington, DE
</p>
<p>
More information can be found on the city's website webpage for  <a href="https://www.wilmingtonde.gov/residents/earned-income-tax-and-net-profits-tax" target="_blank">City Wage and Net ProFit taxes</a> 
</p>
<p>
This tool will walk you through entering the required inforamtion in a simple,intutive way and generate the WCWT-5 form that needs to be filled out for tax refund.
You will need the W2 from your wilmington city based employer(s), details on the days worked from home, vacation, sick leave and other pertinent details handy to fill out the information
</p>
<p align="center">
Please click the button listed below to  get started when ready.
</p>
</div>
<br>
<form method="POST">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
